.jumbo {
    margin-bottom: 0px;
    opacity: 0.4;
    background-size: cover;
    overflow: hidden;
 }



.App{
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1491316713428-0cbd516756a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60");
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
}